/* ——————‡—————— Global Styles ——————‡—————— */
:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-green: #82be82;
  --clr-purple: #882b88;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Bebas Neue', cursive;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

/* ——————‡—————— Local Styles ——————‡—————— */
.loader {
  
  border: 20px solid var(--clr-green);
  border-top: 20px solid var(--clr-white);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin .5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container {
  position: relative;
  height: 35rem;
  width: 40rem;
  background-color: var(--clr-green);
  margin: 3rem auto;
  text-align: center;
}
.smallBox {
  position: absolute;
  background-color: var(--clr-purple);
  width: 47rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.listBox {
  display: flex;
  background-color: orange;
  width: 20rem;
  color: var(--clr-black);
}

