/* ——————‡—————— Global Styles ——————‡—————— */
:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-green: #82be82;
  --clr-purple: #882b88;
  --clr-orange: #ff7f50;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Bebas Neue', cursive;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

/* ——————‡—————— Local Styles ——————‡—————— */
.container {
  position: relative;
  height: 40rem;
  width: 40rem;
  background-color: var(--clr-orange);
  margin: 3rem auto;
  text-align: center;
}
.box {
  position: absolute;
  background-color: var(--clr-green);
  height: 35rem;
  width: 35rem;
  color: var(--clr-black);
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader {
  border: 30px solid var(--clr-purple);
  border-top: 30px solid var(--clr-white);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  animation: spin .5s linear infinite;
  margin: 10rem auto;
  text-align: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pets {
  background: white;
  border-radius: 10px;
  width: 30%;
  max-width: 250px;
  margin: 1rem;
  padding: 0 1rem 1rem;
  border: 2px solid transparent;
}
